#backToTopBtn{
  background-color: rgba(0, 0, 0, 0.548);
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  transition: 0.3s ease-in;
}

#backToTopBtn:hover{
  transform: scale(1.1);
  transition: 0.3s ease;
  cursor: pointer;
}

#backToTopBtn.show {
  display: block;
  opacity: 1;
}