.navigation-bar-container{
  background-color: rgba(0, 0, 0, 0.548);
  display: flex;
  justify-content:end ;
}

.navigation-bar-container ul{
  display: flex;
  align-items: center;
  margin-right: 200px;
}

.navigation-bar-container li{
  font-size: 23px;
  list-style: none;
  color: white;
  font-family: "Crimson Text", serif;
}

.navigation-bar-container a{
  text-decoration: none;
  padding: 0px 5px;
  margin-right: 20px;
  text-align: center;
}

.navigation-bar-container li:hover{
  text-decoration: underline;
  cursor: pointer;
}

@media (min-width: 640px) {
  .navigation-bar-container{
    justify-content: center;
  }
  .navigation-bar-container ul{
    display: flex;
    margin-right: 0;
  }
}

@media (min-width: 412px) and (max-width: 640px){
  .navigation-bar-container{
    justify-content: center;
  }
  .navigation-bar-container ul{
    display: flex;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
  }
  .navigation-bar-container li{
    font-size: 16px;
    margin: 0;
  }
}