.navigation-bar-container{
  background-color: rgba(0, 0, 0, 0.548);
  display: flex;
  justify-content: end;
}

.navigation-bar-container ul{
  display: flex;
  margin-right: 350px;
}

.navigation-bar-container li{
  font-size: 23px;
  list-style: none;
  color: white;
  padding: 0px 10px;
  margin: 0px 20px;
  font-family: "Crimson Text", serif;
}

.navigation-bar-container a{
  text-decoration: none;
}

.navigation-bar-container li:hover{
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 640px) {
  .navigation-bar-container{
    justify-content: center;
  }
  .navigation-bar-container ul{
    display: flex;
    margin-right: 0;
  }
}

@media (max-width: 412px) {
  .navigation-bar-container{
    justify-content: center;
    width: 412px;
  }
  .navigation-bar-container ul{
    display: flex;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
  }
  .navigation-bar-container li{
    font-size: 16px;
    margin: 0;
  }
}