.projects-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.projects-container img{
  height: 200px;
  border-radius: 25px;
}

.projects-container img:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

.project{
  margin: 20px;
}


